{% extends 'shop/base.html' %}
{% block title %}Xeon{% endblock %}

{% block content %}



<div id="sidebar">
    {% load static %}
    <div class = "header_logo">
        <img class="company-img" src="{% static 'img/logon.svg' %}" alt="Логотип {{ company_name }}">
    </div>

        <div class="header-right">
            <a class="btn-header" href="{% url 'shop:index' %}">
               <button class="main-btn">Главная</button><img class="img-home" src="{% static 'img/home.png' %}">
            </a>


            <div class="dropdown">

                <a class="btn-header" href="{% url 'shop:product_list' %}" {% if not category %}class="selected"{% endif %}>
                    <button class="dropbtn">Каталог</button><img class="img-burger" src="{% static 'img/burger.svg' %}">
                </a>
                <div class="dropdown-content">
                    {% for c in categories %}
                        <a href="{{ c.get_absolute_url }}" {% if category.slug == c.slug %}class="selected" {% endif %}>{{ c.name }}</a>
                    {% endfor %}
                </div>
            </div>

                <div class="cart">
                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                    <a href="{% url 'cart:cart_detail' %}"><img class="img-trash" src="{% static 'img/trash.svg' %}">:</a>
                    <a class = "total_item" href="{% url 'cart:cart_detail' %}">
                        {{total_items}}шт, ₽{{cart.get_total_price}}
                    </a>
                    {%else%}
                    <img class="img-trash" src="{% static 'img/trash.svg' %}">
                    {%endif%}
                    {%endwith%}
                </div>
        </div>
</div>
<div class="main_info">
    <div class="company_info">
        {% load static %}
        <div class = "main-content">
            <p class="main-content-upper">Откройте мир знаний и вдохновения с нами!</p>
            <h1 class="company-h2">Добро пожаловать <br>в наш магазин электронных книг!</h1>
            <p class="main-content-bottom">Откройте мир знаний и вдохновения с нами!<br> Для всех
                возрастов и вкусов, где каждый найдет что-то особенное</p>

            <div class="main-content-price">
                <p class="price-name">Только лицензированные издания</p>
                <p class="price-item">Цена на любой вкус</p>
            </div>
                <a href="{% url 'shop:product_list' %}" {% if not category %}class="selected"{% endif %}>
                <button class="company_button_left">Купить сейчас</button>
            </a>
        </div>
        <div class = "company_info_right">
            <img class="company-img" src="{% static 'img/elkniga.png' %}" alt="Логотип {{ company_name }}">
            <div class="company_info_right-content">

            </div>
        </div>
    </div>

</div>

<div class="footer">
    <div class="footer-container">
        <div class="logo">
             <img class="footer-img" src="{% static 'img/kniga3.jpg' %}" alt="Логотип {{ company_name }}">
        </div>

        <div class="footer-content">
            <div class="footer-info">
                <p class="footer-info-upper">Книги которые вы точно запомните!</p>
                <p class="footer-info-bottom">"Чтение — это путешествие, которое можно начать в любое время и в любом месте, открывая перед собой бесконечные миры и бесценные знания."</p>
            </div>
            <div class="footer-bottom">
                <div class="visa">
                    <img src="{% static 'img/Group23.png' %}" alt="Логотип {{ company_name }}">
                </div>
                <div class="footer-right">
                    <p>Содержимое не является публичной офертой</p>
                    <a class="footer-under">Пользовательское соглашение</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}